<div id="topNav">

  <ul>

    <li class="nav-item">
      <hr class="line">
    </li>
    <li class="nav-item">
      <a [routerLink]="['/mission']" #mission>Mission</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/how-it-works']" #howItWorks>How it works</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/about']" #about>About</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/contact']" #contact>Contact</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/pmt']" #pmt>Buy PMT</a>
    </li>
    <li class="nav-item">
      <hr class="line">
    </li>
  </ul>
  <div class="page-divider"></div>
</div>
<br>
<br>
