<div id="topNav">

  <ul>

    <li class="nav-item">
      <hr class="line">
    </li>
    <li class="nav-item">
      <a href="/mission/" #mission>Mission</a>
    </li>
    <li class="nav-item">
      <a href="/how-it-works/" #howItWorks>How it works</a>
    </li>
    <li class="nav-item">
      <a href="/about/" #about>About</a>
    </li>
    <li class="nav-item">
      <a href="/contact/" #contact>Contact</a>
    </li>
    <li class="nav-item">
      <a href="/pmt/" #pmt>Buy PMT</a>
    </li>
    <li class="nav-item">
      <hr class="line">
    </li>
  </ul>
  <div class="page-divider"></div>
</div>
<br>
<br>
