<div class="allPages">

  <div *ngIf="getUser() === null" class="login">
    <a href="/login/">
      <button class="btn btn-primary">Login</button>
    </a>
    <br>
    <a href="/register-user/">Register</a>
  </div>
  <div *ngIf="getUser() !== null" class="login">
    <button (click)="logout()" class="btn btn-primary">Logout ({{getUser().email}})</button>
  </div>

  <div class="logo">
    <a href="/">{{title}}</a>
  </div>

  <app-nav-bar></app-nav-bar>
  <br>
  <router-outlet></router-outlet>
</div>
