.topNav{

    /* position: relative;
    float: left;
    z-index: 1000;
    margin-top: 50px; */

    width: 100%;
    text-align: center;
    font-size: 14px; 
    font-family: Arial, Helvetica, sans-serif;

    /* text-transform: uppercase; */
    /* letter-spacing: 1px;

    font-family: proxima-nova;
    font-weight: 400;

    line-height: 1.6em;

    border-bottom: 2px solid #000; */

}

.nav-item{
    display: block;
    float: left;
    
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight:400;
    height:24px;
    letter-spacing:1px;
    line-height:22.4px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    position:relative;
    text-align:center;

    text-transform:uppercase;
    margin-left:30px;
}
    .nav-item a{
    text-decoration: none;
    
}

.nav-item a:hover{
    /* text-decoration: underline; */
    border-bottom: 2px solid #000;
    color: black;
}
