<div style="text-align: center;">
  <img src="../../assets/images/homePagePicture.jpg" style="vertical-align: middle; width:60%;">
</div>
<div class="textOver">
  <h1 class="page-title">Ethereum Evangelist Network</h1>
  <div class="page-description"></div>
</div>
<div style="text-align: center; margin-top: 150px;">
  <h2>Ethereum Evangelism?</h2>
  <p class="parag">
  In a nutshell, you sell the idea of accepting ethers to your local groceries, shops, vendors, and others. You demonstrate the easiest-to-use Point of Sale (POS) app to prospects, install the POS app to the vendor's smartphone, sit back, relax, and enjoy the incoming transaction fees (in ethers, no less) ...
</p>

<p class="parag">
  Universal Pure Money Tokens (PMT) allows you to participate in Ethereum evangelism without using much capital.How else can you start a business with just US$300? That's all you need to get into this opportunity, although a larger investment can improve your chances of success.(Stay tuned. We are still working out the details. If you want updates in your inbox and you haven't signed up yet, simply click the refresh button to get the signup screen.)
</p>
  
  <h2>Take Action</h2>
  <p class="parag">
    Join us now! Your evangelism starts by purchasing universal evangelist tokens. These universal tokens are usable anywhere, and grant you the right to be an Ethereum Evangelist in your area. You can purchase them on our website right now.
  </p>
</div>
<br>
<br>
<hr>
<br>
<h2>PARTNERS</h2>