.textOver {
    margin-top: -150px; opacity: 1; 
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    margin-bottom: .5em;
}

.parag{
    word-wrap: break-word;
    font-weight: 300;
    font-style: normal;
    line-height: 1.8em;
    font-size: 14px;
    text-transform: none;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;

    width: auto !important;
    display: table;

}